:root {
  --background_primary: #33292a;
  --background_second: #3a2e2f;
  --background_third: #644b4f;
  --background_footer: #333333;
  --footer_text: #efa69d;
  --white: #ffffff;
  --black: #000;
  --font_roboto: "roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
li {
  font-family: var(--font_roboto);
}

h2 {
  font-size: 2rem;
  font-family: var(--font_roboto);
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-family: var(--font_roboto);
  line-height: 18px;
}

body {
  padding: 0;
  width: 100%;
  position: relative;
}

header {
  width: 100%;
  top: 0;
  height: 80px;
  background-color: var(--background_second);
  position: fixed;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
  top: 0;
  color: var(--white);
}

.navigation_wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navigation_item {
  font-size: 20px;
  padding: 1rem;
  list-style-type: none;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  position: relative;
}

h1 {
  position: absolute;
  bottom: 150px;
  color: var(--white);
  font-size: 7em;
  right: 0;
  text-align: right;
}

#info {
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6% auto;
  color: var(--black);
}

.text_info {
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: initial;
  line-height: 1.1rem;
}

.text_info h2 {
  padding-bottom: 30px;
}

.text_info p {
  text-align: initial;
}

.img_info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_info img {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

#wedo {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background_primary);
}

.text_wedo {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  text-align: center;
}

.wedo_icons {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  margin-top: 30px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.icons img {
  width: 90px;
  height: 90px;
}

#collage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;
}

.grid-container {
  width: 70%;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px;
}

.grid-item img {
  width: 300px;
  height: 250px;
  border-radius: 8px;
}

span {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #f2f2f2;
}

#contact {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background_third);
  color: var(--white);
}

.contact_main {
  width: 60%;
  height: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contact_text {
  width: 20%;
  height: 200px;
  text-align: left;
  display: flex;
  align-items: self-start;
  justify-content: center;
}

.contact_text2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.contact_text2 p {
  padding-bottom: 40px;
}

.cta_contact {
  background-color: var(--white);
  border: 1px solid white;
  border-radius: 6px;
  color: #000;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font_roboto);
  font-weight: 700;
}

#reviews {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

.container {
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.container2 {
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.container_items {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.container_img {
  width: 120px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

#gallery {
  width: 100%;
  height: auto;
}

.gallery_grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  height: 100%;
  object-fit: cover;
}

.gallery_grid_item {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.gallery_grid_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: auto;
  background-color: var(--background_footer);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer_text {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

footer p {
  color: var(--footer_text);
  text-decoration: underline;
  font-size: 12px;
  padding-bottom: 10px;
}

h3 {
  font-size: 10px;
}
