:root {
  --background_primary: #33292a;
  --background_second: #3a2e2f;
  --background_third: #644b4f;
  --background_footer: #333333;
  --footer_text: #efa69d;
  --white: #ffffff;
  --black: #000;
  --font_roboto: "roboto";
  --font1: 1rem;
  --font2: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
li {
  font-family: var(--font_roboto);
}

h2 {
  font-size: var(--font2);
  font-family: var(--font_roboto);
  font-weight: 700;
}

p {
  font-size: var(--font1);
  font-family: var(--font_roboto);
  line-height: 1.2rem;
}

body {
  padding: 0;
  width: 100%;
  position: relative;
}

/*---------------- Header Navigation-------------------*/

header {
  width: 100%;
  top: 0;
  height: 80px;
  background-color: var(--background_second);
  position: fixed;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
  top: 0;
  position: relative;
  color: var(--white);
}

.navigation-wrapper {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-item {
  padding: 1rem;
  list-style-type: none;
  display: inline-block;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

a {
  color: var(--white);
  font-size: var(--font1);
  text-decoration: none;
}

a:hover {
  color: #adacab;
}

/*------------------Mobile menu------------------*/

.dropdown {
  position: absolute;
  right: 0;
  display: none;
  padding: 1.5% 5%;
}

.dropdown-btn {
  background-color: #ffffff00;
  border: none;
}

.dropdown-btn img {
  width: 60px;
  height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 80px;
  background-color: #2928288f;
  min-width: 200px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
  right: 0;
  border-radius: 8px;
}

.dropdown-content .navigation-item {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  color: var(--white);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #c9c6c63a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #353333;
}

@media (max-width: 768px) {
  .dropdown {
    display: inline-block;
    padding: 3% 5%;
  }

  .dropdown-btn img {
    width: 50px;
    height: 40px;
  }
}

/*---------------------Hero-----------------*/

#hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.heading {
  width: 70%;
  height: 100%;
  padding: 20% 0% 10% 0%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

h1 {
  color: var(--white);
  font-size: 6em;
  right: 0;
  text-align: right;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

/* -----------------About Us------------------*/

#info {
  width: 100%;
  height: auto;
}

.info-container {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 8% auto;
  color: var(--black);
}

.text-info {
  max-width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: initial;
  line-height: 1.1rem;
}

.text-info h2 {
  padding-bottom: 30px;
}

.text-info p {
  text-align: initial;
}

.img-info {
  max-width: 35%;
  flex-direction: column;
  flex: 1;
}

.img-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #info {
    padding-top: 6%;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-info,
  .img-info {
    max-width: 80%;
    margin-bottom: 40px;
    padding: 10px;
  }
}

/* -------------------What We Do------------------*/

#wedo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background_primary);
  padding: 8% 0;
}

.text-wedo {
  max-width: 50%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  text-align: center;
}

.text-wedo h2 {
  margin-bottom: 30px;
}

.icons-text {
  font-size: 1.4rem;
  font-weight: 700;
}

.wedo-icons {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.icons img {
  width: 85px;
  height: 85px;
}

@media (max-width: 768px) {
  #wedo {
    padding-top: 12%;
  }

  .text-wedo {
    max-width: 80%;
    margin-bottom: 50px;
  }

  .wedo-icons {
    flex-direction: column;
    width: 70%;
    height: auto;
  }

  .icons {
    margin-bottom: 40px;
  }

  .icons img {
    margin-bottom: 25px;
  }
}

/* ---------------------Collage Grid -------------------*/

#collage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;
}

.grid-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.grid-item {
  flex: 30%;
  width: 100%;
  padding: 10px;
  object-fit: contain;
  border-radius: 8px;
  align-self: stretch;
}

.grid-item img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

.grid-item-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .grid-container {
    width: 70%;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

/* --------------------Contact CTA-------------------*/

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background_third);
  color: var(--white);
}

.contact-main {
  width: 60%;
  padding: 8% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contact-text {
  width: 20%;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-content: center;
}

.contact-text2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-text2 p {
  padding-bottom: 40px;
}

.cta-contact {
  background-color: var(--white);
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font_roboto);
  font-weight: 700;
}

.cta-contact a {
  color: var(--black);
}
.cta-contact a:hover {
  color: #adacab;
}

@media (max-width: 768px) {
  .contact-main {
    flex-direction: column;
    width: 90%;
    padding: 12% 0%;
  }

  .first {
    display: none;
  }

  .contact-text {
    width: 90%;
    height: auto;
    align-self: center;
  }

  .contact-text h2 {
    margin-bottom: 40px;
  }

  .contact-text2 {
    width: 90%;
  }
}

/* ----------------------Reviews----------------------*/

#reviews {
  width: 100%;
  padding: 8% 0% 4% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-text {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;
}

.reviews-text h2 {
  padding-bottom: 20px;
}

.container {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.container-items {
  width: 100%;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.container-img {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

.container-items p {
  padding: 0% 8%;
  margin-bottom: 20px;
}

.berta {
  background-image: url("img/images/kalen-emsley-kGSapVfg8Kw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-self: stretch;
}

.frank {
  background-image: url("img/images/jeffrey-keenan-pUhxoSapPFA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-self: stretch;
  justify-self: center;
}

@media (max-width: 768px) {
  #reviews {
    padding: 14% 0% 0% 0%;
  }

  .reviews-text {
    max-width: 60%;
  }

  .container {
    width: 90%;
    flex-direction: column;
  }

  .container-items {
    width: 80%;
    min-height: 350px;
    margin-bottom: 40px;
  }
}

/*------------------Gallery Grid-----------------*/

#gallery {
  width: 100%;
  height: auto;
}

.gallery_grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  height: 100%;
  object-fit: cover;
}

.gallery_grid_item {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.gallery_grid_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .gallery_grid {
    grid-template-columns: 1fr;
  }
}

/* ---------------------Footer---------------------- */

footer {
  width: 100%;
  height: auto;
  background-color: var(--background_footer);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer_text {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

footer p {
  color: var(--footer_text);
  text-decoration: underline;
  font-size: 12px;
  padding-bottom: 10px;
}

h3 {
  font-size: 10px;
}
