:root {
  --background_primary: #33292a;
  --background_second: #3a2e2f;
  --background_third: #644b4f;
  --white: #ffffff;
  --font_roboto: "roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
a,
li {
  font-family: var(--font_roboto);
}

body {
  padding: 0;
  width: 100%;
  position: relative;
}

header {
  width: 100%;
  top: 0;
  height: 80px;
  background-color: var(--background_second);
  position: fixed;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  height: 80px;
  top: 0;
  color: #fff;
}

.navigation_wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navigation_item {
  font-size: 20px;
  font-weight: 700;
  padding: 1rem;
  list-style-type: none;
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url(img/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  position: relative;
}

h1 {
  position: absolute;
  bottom: 150px;
  color: #fff;
  font-size: 7em;
  right: 0;
  text-align: right;
}

#info {
  max-width: 70%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text_info {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 40px;
}

.text_info h2 {
  font-size: 2.2em;
  color: #000;
  margin-top: 50px;
}

.text_info p {
  font-size: 18px;
  color: #000;
  text-align: initial;
}

.img_info {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.img_info img {
  width: 500px;
  height: 400px;
}

#wedo {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background_primary);
}

.text_wedo {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: center;
}

.text_wedo h2 {
  font-size: 2.2em;
}

.wedo_icons {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  margin-top: 30px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.icons img {
  width: 90px;
  height: 90px;
}

.icons p {
  font-size: 22px;
  font-weight: 700;
}

#gallery {
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.photo {
  display: flex;
  flex-direction: row;
  width: 65%;
  height: 300px;
}

.photo2 {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

img {
  width: 350px;
  height: 300px;
}

span {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
}

#contact {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background_third);
}

.contact_main {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.contact_text {
  width: 200px;
  height: 300px;
  color: #fff;
  text-align: left;
}

.contact_text h2 {
  font-weight: 700;
  font-size: 32px;
}

.contact_text2 {
  width: 500px;
  height: 400px;
  color: #fff;
}
